


body {
  margin: 1em 1em 1em 1em;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.markazi {
  font-family:'Markazi Text', serif;
}

.karla {
  font-family: 'Karla', sans-serif;
}

